node_modules/
test-results/
playwright-report/
test-results/
blob-report/
playwright/.cache/
.env
test-results/
playwright-report/
.venv/
*.html
*.png
*.jpg
*.jpeg

node_modules/
npm-debug.log
yarn-error.log
.yarn/

*.log
*.tmp
.DS_Store
Thumbs.db

.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace
